{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "declaration-block-no-ignored-properties": null,
    "selector-pseudo-class-no-unknown": [true, {
        "ignorePseudoClasses": ["global"]
    }],
    "property-no-unknown": [true, {
        "ignoreProperties": ["composes"]
    }],
    "declaration-block-no-duplicate-properties": [true, {
        "ignore": ["consecutive-duplicates-with-different-values"]
    }]
  }
}
