:root {
  --header-height: 115px;

  --color1: #014040;
  --color2: #02735E;
  --color3: #03A678;
  --color4: #F28C0F;
  --color5: #591202;

  --background-color: rgba(0, 0, 0, 0.4);
}

html, body, div, h1, h2, h3, ul, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: arial, helvetica;
}

input, button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

p:first-child {
  margin: 0;
}

button, a, div[role=button] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body::before, body::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body::before {
  background: url('./asset/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

body::after {
  background-color: var(--background-color);
}

main {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 750px) {
  main {
    flex-wrap: wrap;
  }
}