.plot {
  display: grid;
  width: calc(50% - 96px);
  max-width: calc(90vh - var(--header-height));
  grid-gap: 16px;
}

@media (max-width: 750px) {
  .plot {
    width: 100%;
  }
}

.slot {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slot::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}