header {
  height: 80px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.githubCorner {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.githubIcon {
  fill: #03A678;
  color: #151513;
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100%{
    transform:rotate(0);
  }
  20%,60%{
    transform:rotate(-25deg);
  }
  40%,80%{
    transform:rotate(10deg);
  }
}

@media (max-width:500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }
  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.languageSelector {
  display: flex;
  align-items: center;
}

.languageSelector svg {
  width: 32px;
  fill: white;
  padding-right: 8px;
}

.language {
  color: white;
  padding: 0 8px;
  text-decoration: underline;
}

.languageSelected {
  color: grey;
  padding: 0 8px;
  text-decoration: none;
}

.language:hover {
  text-decoration: none;
}
