@import "./normalize.css";

:root {
  --box-size: 400px;
}

.container {
  padding: 10px;
}

.header {
  text-align: center;
}

.title,
.description {
  color: gray;
  margin: 5px;
  cursor: text;
}

.description {
  font-size: 11pt;
  font-weight: 300;
}

.plot {
  display: flex;
  width: var(--box-size);
  height: var(--box-size);
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5em;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  overflow: auto;
  min-height: 20em;
}

.plotSize {
  position: absolute;
  top: 0;
  left: 0;
}

.slot {
  display: flex;
  background: #999;
  border: 1px solid gray;
  text-align: center;
}

.slotOver {
  composes: slot;
  background: gray;
}

.plant {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin: 3px;
  border: white 1px solid;
  text-align: center;
}

.plant:hover {
  cursor: grab;
  background: gray;
}

.plant_companion {
  border: green 1px solid;
}

.plant_antagonist {
  border: red 1px solid;
}

.plant_isDragging {
  opacity: 0.5;
}

.plant_image {
  display: block;
  width: 50px;
  height: 50px;
  fill: white;
  margin: auto;
}

.plant_name {
  color: white;
  padding: 0 5px;
}

.plant_remove {
  position: absolute;
  top: 5px;
  right: 7px;
  color: white;
}

.tooltip[data-tooltip]:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  cursor: pointer;
  padding: 4px 8px;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  background-color: black;
  color: white;
}

.plant_showDetails {
  position: absolute;
  top: 5px;
  left: 7px;
  color: white;
}

.plant_showDetails:hover,
.plant_remove:hover {
  cursor: pointer;
  color: black;
}

.plantSelector {
  position: relative;
  padding: 10px;
  background-color: lightgray;
}

.plantSelector_filter {
  position: absolute;
  right: 5px;
  top: 5px;
}

.details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: white;
  padding: 10px;
}

.details_hide:hover {
  color: gray;
  cursor: pointer;
}

.details_title {
  text-align: center;
}

.details_family {
  font-style: italic;
}

.details_description {
  padding: 5px 0;
}

.details_family::first-letter {
  text-transform: uppercase;
}

.details_list {
  padding: 5px;
  font-size: 13px;
}

.bobby {
  /*display: none; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
}

.bobby_isVisible {
  display: block;
}

.months {
  display: flex;
  justify-content: space-between;
}

.month {
  cursor: pointer;
  user-select: none;
}

.month_current {
  font-weight: 600;
}

.month_selected {
  text-decoration: underline;
}
