@import "./normalize.css";

:root {
  --box-size: 400px;
}

.container {
  padding: 10px;
}

.header {
  text-align: center;
}

.title,
.description {
  color: gray;
  margin: 5px;
  cursor: text;
}

.description {
  font-size: 11pt;
  font-weight: 300;
}

.plot {
  display: flex;
  width: var(--box-size);
  height: var(--box-size);
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5em;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  overflow: auto;
  min-height: 20em;
}

.slot {
  position: relative;
  display: flex;
  flex: 1 0 calc(33% - 2px);
  background: #999;
  border: 1px solid gray;
  text-align: center;
}

.plant {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin: 3px;
  border: white 1px solid;
  text-align: center;
}

.plant:hover {
  cursor: grab;
  background: gray;
}

.plant_image {
  display: block;
  width: 50px;
  height: 50px;
  fill: white;
  margin: auto;
}

.plant_name {
  color: white;
}

.plant_remove {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

.plant_remove:hover {
  cursor: pointer;
  color: black;
}

.plantSelector {
  padding: 10px;
  background-color: lightgray;
}
